<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Photo Gallery</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Photo Gallery</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="content-img">
    <div class="container-fluid ion-padding" >

        <swiper style="max-height: 80vh;"
          [autoplay]="true"
          [pagination]="true"
          [zoom]="true"
        >
          <ng-template swiperSlide>
            <img style="height: 80vw;width: 80vw; " class="logo-img" src="assets/images/photo-1.jpg" alt="Logo"  />
          </ng-template>
          <ng-template swiperSlide>
            <img style="height: 80vw;width: 80vw;" class="logo-img" src="assets/images/photo-2.jpg" alt="Logo" />
          </ng-template>
          <ng-template swiperSlide>
            <img style="height: 80vw;width: 80vw;" class="logo-img" src="assets/images/photo-3.jpg" alt="Logo"
          /></ng-template>
        </swiper>
    </div>
  </div>
</ion-content>
