<ion-app>
  <ion-split-pane contentId="main-content" when="false">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          
          <div class="header">
            <div class="header-logo">
              <img class="logo-img" src="assets/images/profile-logo.png" alt="Logo">
            </div>
            <div class="header-label">
              <ion-list-header>Taylor Swift</ion-list-header>
              <ion-note>Singer & Songwriter</ion-note>
            </div>
          </div>

          <ion-menu-toggle auto-hide="false">
            <ion-item class="my-3" routerDirection="root" routerLink="home" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon slot="start" [ios]="'home-outline'" [md]="'home-sharp'"></ion-icon>
              <ion-label>Home</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false">
            <ion-item class="my-3" routerDirection="root" routerLink="albums" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon slot="start" [ios]="'albums-outline'" [md]="'albums-sharp'"></ion-icon>
              <ion-label>Albums</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false">
            <ion-item class="my-3" routerDirection="root" routerLink="photogallery" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon slot="start" [ios]="'images-outline'" [md]="'images-sharp'"></ion-icon>
              <ion-label>Photo Gallery</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false">
            <ion-item class="my-3" routerDirection="root" routerLink="documentary" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon slot="start" [ios]="'film-outline'" [md]="'film-sharp'"></ion-icon>
              <ion-label>Documentary</ion-label>
            </ion-item>
          </ion-menu-toggle>
          
          <ion-menu-toggle auto-hide="false">
            <ion-item class="my-3" routerDirection="root" routerLink="awards" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon slot="start" [ios]="'trophy-outline'" [md]="'trophy-sharp'"></ion-icon>
              <ion-label>Awards</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false">
            <ion-item class="my-3" routerDirection="root" routerLink="biography" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon slot="start" [ios]="'person-outline'" [md]="'person-sharp'"></ion-icon>
              <ion-label>Biography</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false">
            <ion-item class="my-3" routerDirection="root" routerLink="about" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon slot="start" [ios]="'help-circle-outline'" [md]="'help-circle-sharp'"></ion-icon>
              <ion-label>About</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

        <ion-list id="social-list">
          <ion-item class="container">
            <div class="d-flex">
              <a href="https://www.facebook.com/TaylorSwift/" target="_blank" rel="noopener noreferrer" class="social-link">
                <ion-icon class="social-icons" slot="start" [ios]="'logo-facebook'" [md]="'logo-facebook'"></ion-icon>
              </a>
              <a href="https://www.instagram.com/taylorswift/?hl=en" target="_blank" rel="noopener noreferrer" class="social-link">
                <ion-icon class="social-icons" slot="start" [ios]="'logo-instagram'" [md]="'logo-instagram'"></ion-icon>
              </a>
              <a href="https://www.youtube.com/taylorswift" target="_blank" rel="noopener noreferrer" class="social-link">
                <ion-icon class="social-icons" slot="start" [ios]="'logo-youtube'" [md]="'logo-youtube'"></ion-icon>
              </a>
              <a href="https://taylorswift.tumblr.com/" target="_blank" rel="noopener noreferrer" class="social-link">
                <ion-icon class="social-icons" slot="start" [ios]="'logo-tumblr'" [md]="'logo-tumblr'"></ion-icon>
              </a>
            </div>
          </ion-item>
        </ion-list> 
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
