<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Awards</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Awards</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="content-img">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <h1>Awards and nominations received by Taylor Swift</h1>
          <p>
            American singer-songwriter Taylor Swift has received numerous
            awards, nominations, and honorary accolades throughout her career.
            She signed a record deal with Big Machine Records in 2005 and
            released her self-titled debut studio album in 2006, which was
            nominated for an Academy of Country Music Award. At the 50th Annual
            Grammy Awards, Swift earned a Best New Artist nomination, but lost
            to Amy Winehouse. Her second studio album, Fearless (2008), spawned
            five singles, including "Love Story", "White Horse", and the MTV
            Video Music Award for Best Female Video-winning "You Belong with
            Me". Swift was subsequently nominated for eight categories at the
            52nd Annual Grammy Awards and won four of them, including Album of
            the Year. At 20, she became the youngest artist to win the category,
            holding the record for eleven years, until 2020. Fearless was the
            first album to win the American Country Award, Country Music
            Association, Academy of Country Music Award, and Grammy Award for
            Album of the Year, and became the most awarded album in country
            music history.
          </p>
        </div>
        <div class="col-lg-6">
          <ion-card >
            <img alt="Silhouette of mountains" src="assets/images/awards-latest.jpg" />
            <ion-card-header>
              <ion-card-title>Taylor Swift Won Artist Of The Year</ion-card-title>
              <ion-card-subtitle>American Music Awards 2022</ion-card-subtitle>
            </ion-card-header>
          
            <ion-card-content>
              Sunday (November 20) It was a big day for Taylor Swift,  as she won six awards, including Artist Of The Year.
            </ion-card-content>
          </ion-card>

          <ion-list class="ion-margin">
            <ion-item>
              <ion-label>Awards and nominations</ion-label>
            </ion-item>
            <ion-item>
              <ion-label style="background-color: green">Wins <span>505</span></ion-label>
            </ion-item>
            <ion-item>
              <ion-label style="background-color: rgb(115, 42, 59)"
                >Nominations <span>1023</span></ion-label
              >
            </ion-item>
            <ion-item>
              <ion-label style="background-color: rgb(44, 82, 67)"
                >Pending <span>9</span></ion-label
              >
            </ion-item>
          </ion-list>
        </div>
      </div>
    </div>
  </div>
</ion-content>
