<ion-header anslucent="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Biography</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content llscreen="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Biography</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="content-img">
    <div class="container">
      <div class="row pt-5">
        <div class="col-lg-6 d-flex pt-5 justify-content-center" >
          <img src="assets/images/profile.png" alt="Profile Pic" />
        </div>
        <div class="col-lg-6">
          <p class="ion-padding pt-5">
            <span style="font-style: italic ;; font-weight: bolder"
              > Taylor Alison Swift</span
            >
            (born December 13, 1989) is an American singer-songwriter. Her
            discography spans multiple genres and her narrative
            songwriting—often inspired by her personal life—has received
            critical praise and widespread media coverage. Born in West Reading,
            Pennsylvania, Swift moved to Nashville at age 14 to become a country
            artist. She signed a songwriting deal with Sony/ATV Music Publishing
            in 2004 and a recording contract with Big Machine Records in 2005.
            Her 2006 self-titled debut album made her the first female country
            singer to write or co-write a US platinum-certified album entirely.
            Swift's next albums, Fearless (2008) and Speak Now (2010), explored
            country pop. The former's "Love Story" and "You Belong with Me" were
            the first country songs to top the US pop and all-genre airplay
            charts, respectively. She experimented with rock and electronic
            styles on Red (2012), which featured her first Billboard Hot 100
            number-one song, "We Are Never Ever Getting Back Together", and
            eschewed her country image in her synth-pop album, 1989 (2014),
            supported by chart-topping songs "Shake It Off", "Blank Space", and
            "Bad Blood". Media scrutiny inspired the urban-flavored Reputation
            (2017) and its number-one single "Look What You Made Me Do".
          </p>
        </div>
      </div>
    </div>
    <div class="container">
      <h1>Early life and education</h1>
      <hr/>
      <p class="ion-padding pb-5" style="text-indent: 70px">
        Taylor Alison Swift was born on December 13, 1989, at the Reading
        Hospital in West Reading, Pennsylvania. Swift's father, Scott Kingsley
        Swift, is a former stockbroker for Merrill Lynch and her mother, Andrea
        Gardner Swift (née Finlay), is a former homemaker who previously worked
        as a mutual fund marketing executive. Her younger brother, Austin, is an
        actor. She was named after singer-songwriter James Taylor, and has
        Scottish and German heritage. Her maternal grandmother, Marjorie Finlay,
        was an opera singer. Swift spent her early years on a Christmas tree
        farm that her father had purchased from one of his clients. Swift
        identifies as a Christian. She attended preschool and kindergarten at
        the Alvernia Montessori School, run by the Bernadine Franciscan
        sisters, before transferring to The Wyndcroft School. The family moved
        to a rented house in the suburban town of Wyomissing, Pennsylvania,
        where she attended Wyomissing Area Junior/Senior High School. At age
        nine, Swift became interested in musical theater and performed in four
        Berks Youth Theatre Academy productions. She also traveled regularly to
        New York City for vocal and acting lessons. Swift later shifted her
        focus toward country music, inspired by Shania Twain's songs, which made
        her "want to just run around the block four times and daydream about
        everything." She spent weekends performing at local festivals and
        events. After watching a documentary about Faith Hill, Swift felt sure
        she needed to move to Nashville, Tennessee, to pursue a career in
        music. She traveled with her mother at age eleven to visit Nashville
        record labels and submitted demo tapes of Dolly Parton and The Chicks
        karaoke covers. She was rejected, however, because "everyone in that
        town wanted to do what I wanted to do. So, I kept thinking to myself, I
        need to figure out a way to be different." When Swift was around 12
        years old, computer repairman and local musician Ronnie Cremer taught
        her to play guitar. He helped with her first efforts as a songwriter,
        leading her to write "Lucky You". In 2003, Swift and her parents
        started working with New York-based talent manager Dan Dymtrow. With his
        help, Swift modeled for Abercrombie & Fitch as part of their "Rising
        Stars" campaign, had an original song included on a Maybelline
        compilation CD, and attended meetings with major record labels. After
        performing original songs at an RCA Records showcase, Swift, then 13
        years old, was given an artist development deal and began making
        frequent trips to Nashville with her mother. To help Swift enter into
        the country music scene, her father transferred to Merrill Lynch's
        Nashville office when she was 14 years old, and the family relocated to
        Hendersonville, Tennessee. Swift initially attended Hendersonville High
        School before transferring to the Aaron Academy after two years, which
        better suited her touring schedule through homeschooling. She graduated
        one year early.
      </p>
    </div>
  </div>
</ion-content>
