h1, p {
    font-family: "Monument Extended", Helvetica, Arial, sans-serif;
    color: black;
}

h1 {
    font-size: 1.5rem;
    padding-top: 30px;
}

p{
    font-family: "Poppins", Helvetica, Arial, sans-serif;
    font-size: 1.2rem;
    text-align: justify;
    text-justify: inter-word;
}

img{
    height: 500px;
}

hr {
    position: relative;
    top: 10px;
    border: none;
    height: 7px;
    background: black;
    margin-bottom: 40px;
}

@media screen and (max-width: 600px) {
    p{
        font-size: 1rem;
    }
}